<!DOCTYPE html>

<html>
  <head>
    <title>My first socket.io chat</title>
  </head>

  <body>
    <input id="sendMsg" /><button>챗고!</button>

    <ul id="msg"></ul>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();
    </script>
  </body>
</html>
